.cipher-body {
  border-spacing: 10px;
  text-align: center;
  background-color: rebeccapurple;
  padding: 10px;
  width: auto;
  border-radius: 5px;
}

.button-group {
  padding: 10px 0 15px 0;
  grid-auto-columns: auto;
  grid-column-gap: 200px;
}