.info-dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  padding: 20px;
  border: none;
  background-color: coral;
  color: blue;
  top: 67px;
  right: 0;
  border-radius: 5px;
  margin-right: 50px;
  justify-content: center;
}